@using (Html.BeginForm("DoTransactionDetails", "Home"))
{
    <div class="form-group">
        <label for="orderId">Order Id</label>
        <input type="text" class="form-control" id="orderId" name="orderId" placeholder="123456" value="123456"/>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Transaction Details</button>
}